/* http://smuwn.xyz */

@font-face{font-family:"VCR";src:url(assets/vcr.ttf);}

*{margin:0;padding:0;}
body{font-family:"Didact Gothic";background-color:rgb(20, 20, 20);}
img{user-drag:none;user-select:none;-moz-user-select:none;-webkit-user-drag:none;-webkit-user-select:none;-ms-user-select:none;}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-track{background:transparent;}
::-webkit-scrollbar-thumb{background:#888;border-radius:4px;}

noscript>._notavailable_wrapper{position:fixed;width:100%;height:100%;top:0;left:0;z-index:999;background:#000;user-select:none;}
noscript>._notavailable_wrapper>div{position:absolute;top:50%;left:0;width:100%;transform:translate3d(0,-50%,0);font-size:18px;text-align:center;color:#fff;}
noscript>._notavailable_wrapper>div>img{height:80px;}
noscript>._notavailable_wrapper>div>p{font-size:1.3em;font-weight:bold;}

@keyframes fade{from{transform:translate3d(0,20px,0);opacity:0;}to{transform:translate3d(0,0,0);opacity:1;}}

body>.loader{position:fixed;display:flex;z-index:100;top:0;left:0;width:100%;height:100%;background:inherit;transition:.4s ease;transition-property:opacity,visibility;}
body.loaded>.loader{opacity:0;visibility:hidden;}
body>.loader>div{position:relative;margin:auto;height:30vh;width:100%;opacity:0;transform:translate3d(0,20px,0);animation:fade .4s ease .5s forwards;}
body>.loader>div>svg{fill:none;position:absolute;width:100%;height:100%;left:0;top:0;}
body>.loader>div>svg.back{fill:none;stroke:#222;z-index:1;}
body>.loader>div>svg.forth{fill:none;stroke:#fff;stroke-dasharray:580.444;stroke-dashoffset:580.44;z-index:2;}
body>.loader>div>svg.forth>path{transition:stroke-dashoffset .4s ease;}

body>.main{position:relative;color:#eee;transition:.3s ease;transition-property:filter, opacity;}
body.contact>.main{filter:blur(1px);opacity:.7;}

body>.background,body>.main-background{position:fixed;top:0;bottom:0;right:0;left:0;z-index:-2;}
body>.background>div{position:absolute;top:0;right:0;left:0;bottom:0;opacity:0;transition:opacity .3s ease;}
body>.background>div.show{opacity:1;}
body>.background>div>video,body>.main-background>video{width:auto;min-width:100%;min-height:100%;}
body>.background>.game-retro>video{opacity:.3;}

body>.main-background{opacity:.3;z-index:-3;}

body>.main>.header{position:relative;user-select:none;padding:20px;box-sizing:border-box;}
body>.main>.header>img{height:80px;display:inline-block;transition-delay:.2s;cursor:pointer;filter:grayscale(100%) saturate(100%);transition:filter .3s ease;}
body>.main>.header>img:hover{filter:grayscale(0%) saturate(450%);}
body>.main>.header>.menu{display:inline-block;vertical-align:top;font-size:25px;}
body>.main>.header>.menu>span{display:inline-block;vertical-align:top;line-height:80px;cursor:pointer;font-weight:700;text-transform:capitalize;z-index:4;color:#777;}
body>.main>.header>.menu>span:after{content:attr(data-text);position:absolute;color:#fff;top:0;left:0;line-height:inherit;font-size:inherit;z-index:5;max-width:0px;overflow:hidden;transition:max-width .4s ease;}
body>.main>.header>.menu>span:hover:after{max-width:100%;}
body>.main>.header>.menu>span:first-of-type{margin:0 20px;transition-delay:.3s;}
body>.main>.header>.menu>span:nth-of-type(2){transition-delay:.2s;}
body>.main>.header>.menu>span:last-of-type{transition-delay:.4s;margin-left:20px;}

body>.main>.header>.music{display:none;vertical-align:top;float:right;color:#eee;margin-top:22px;}
body>.main>.header>.music>span{width:35px;height:35px;display:inline-block;vertical-align:top;overflow:hidden;cursor:pointer;margin:0 10px;}
body>.main>.header>.music>span>svg{width:100%;height:100%;fill:currentColor;}
body>.main>.header>.music>p{width:200px;height:35px;display:inline-block;vertical-align:top;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:20px;line-height:35px;}
body>.main>.header>.music>p>a{color:inherit;text-decoration:inherit;}
body>.main>.header>.music #player{height:0;width:0;position:absolute;}

body>.main>.header>img,body>.main>.header>.menu>span,body>.main>.header>.music{position:relative;transition:.4s ease;transition-property:transform,opacity;transform:translate3d(0,20px,0);opacity:0;}
body.loaded>.main>.header>img,body.loaded>.main>.header>.menu>span,body.loaded>.main>.header>.music{transform:translate3d(0,0,0);opacity:1;}

body>.main>.wrapper{position:relative;transform:translate3d(0,10px,0);opacity:0;transition:.4s ease;transition-property:opacity,transform;}
body.show>.main>.wrapper{transform:translate3d(0,0,0);opacity:1;}

body>.main>.wrapper>.home{display:none;position:relative;top:0;left:0;right:0;padding:30px;box-sizing:border-box;}
body>.main>.wrapper>.home>div{display:inline-block;width:49%;padding:30px;box-sizing:border-box;vertical-align:top;}
body>.main>.wrapper>.home>div a img{max-height:46px;}
body>.main>.wrapper>.home iframe{max-width:100%;width:40vw;height:calc(40vw * 0.51);display:block;border:0;margin:20px auto;}
body>.main>.wrapper>.home h1{font-size:40px;font-weight:normal;margin-left:20px;font-family:"VCR";transition-delay:.3s!important;}
body>.main>.wrapper>.home a{color:inherit;text-decoration:inherit;margin-left:20px;font-size:1.3em;font-weight:bold;}
body>.main>.wrapper>.home a{max-width:40%;}
body>.main>.wrapper>.home p{font-size:22px;margin:20px 0 0 20px;transition-delay:.5s!important;}
body>.main>.wrapper>.home h1,body>.main>.wrapper>.home p{transition:.4s ease;transition-property:transform,opacity;transform:translate3d(0,20px,0);opacity:0;}
body.home>.main>.wrapper>.home{display:block;}
body.show>.main>.wrapper>.home h1,body.show>.main>.wrapper>.home p{opacity:1;transform:translate3d(0,0,0);}

body>.main>.wrapper>.games{display:none;position:relative;top:0;left:0;right:0;padding:30px;box-sizing:border-box;text-align:center;}
body>.main>.wrapper>.games>h1{font-size:30px;text-align:left;}
body>.main>.wrapper>.games>div{position:relative;margin:10px;display:inline-block;vertical-align:top;width:130px;box-sizing:border-box;width:150px;cursor:pointer;border-radius:5px;overflow:hidden;}
body>.main>.wrapper>.games>div>div{width:150px;height:150px;padding:10px;box-sizing:border-box;background:rgb(71,71,71);transition:opacity .3s ease;}
body>.main>.wrapper>.games>div>div>img{width:100%;height:100%;border-radius:5px;}
body>.main>.wrapper>.games>div>span{color:white;display:block;box-sizing:border-box;width:150px;padding:10px;background:rgb(71,71,71);text-overflow:ellipsis;overflow:hidden;max-width:100%;white-space:nowrap;text-align:center;z-index:1;}
body>.main>.wrapper>.games>div.coming>div,body>.main>.wrapper>.games>div.coming>span{background:rgb(23,44,72);}
/*body>.main>.wrapper>.games>div.coming:after{content:"Coming Soon";margin-top:-5px;position:relative;background:rgb(78,24,30);display:block;width:100%;padding:5px;z-index:0;}*/
body>.main>.wrapper>.games>div:hover>div{opacity:.7;}
body.games>.main>.wrapper>.games{display:block;}
body.show>.main>.wrapper>.games>div{transform:translate(0,0);opacity:1;}

/*body>.main>.wrapper>.games>div{padding:50px;position:relative;margin:30px 0;border-radius:10px 5px;cursor:pointer;user-select:none;overflow:hidden;transition:.4s ease;transition-property:transform,opacity;transform:translate(0,-10px);opacity:0;box-sizing:border-box;}
body>.main>.wrapper>.games>div>.bg{position:absolute;top:0;right:0;left:0;bottom:0;background-repeat:no-repeat;background-size:cover;background-position:center 40%;z-index:-1;transition:background-position .4s ease;}
body>.main>.wrapper>.games>div.fancy>.bg{filter:blur(4px);}
body>.main>.wrapper>.games>div>p{font-family:"Permanent Marker";font-size:30px;text-shadow:0 0 10px black;transition:transform .4s ease;}
body>.main>.wrapper>.games>div:not(.coming):hover>.bg{background-position:center center;}
body>.main>.wrapper>.games>div:not(.coming):hover>p{transform:translate(0,10px);}
body>.main>.wrapper>.games>div.coming::before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;background:#37474F;}
body>.main>.wrapper>.games>div.coming::after{content:"Coming Soon!";transform:translate(0,100%);position:absolute;bottom:0;left:0;right:0;height:1em;padding:10px;background:#F44336;transition:transform .4s ease;}
body>.main>.wrapper>.games>div.coming:hover::after{transform:translate(0,0);}
body>.main>.wrapper>.games>div.coming:hover>p{transform:translate(0,-10px);}
*/

body>.main>.wrapper>.people{display:none;position:relative;top:0;left:0;right:0;padding:20px 20px 0;max-width:1000px;box-sizing:border-box;}
body>.main>.wrapper>.people>div{position:relative;padding:0 0 30px;margin-top:10px;}
body>.main>.wrapper>.people>div>span{position:absolute;top:0;left:0;width:80px;height:80px;border-radius:50%;background-size:cover;background-position:center;}
body>.main>.wrapper>.people>div>div{position:relative;padding-left:100px;}
body>.main>.wrapper>.people>div>div>h1{font-size:25px;margin-top:15px;vertical-align:top;}
body>.main>.wrapper>.people>div>div>h1>span{font-size:.7em;vertical-align:bottom;color:rgb(220,220,220);margin-left:10px;font-weight:normal;}
body>.main>.wrapper>.people>div>div>span{font-size:16px;color:rgb(180,180,180);display:block;}
body>.main>.wrapper>.people>div>div>p{font-size:18px;margin:10px 0;}
body>.main>.wrapper>.people>div>div>a{display:inline-block;width:30px;height:30px;position:relative;}
body>.main>.wrapper>.people>div>div>a>svg{fill:#fff;width:100%;height:100%;}
body.people>.main>.wrapper>.people{display:block;}

body>.main>.wrapper>.game{position:relative;}
body>.main>.wrapper>.game>div{position:relative;display:none;padding:10px;box-sizing:border-box;}
body>.main>.wrapper>.game>div>.header{position:relative;padding:50px 20px;text-align:center;overflow:hidden;}
body>.main>.wrapper>.game>div>.header>h1{position:relative;display:inline-block;z-index:1;font-family:"VCR";font-size:50px;line-height:50px;vertical-align:top;}
body>.main>.wrapper>.game>div>.header>img{display:inline-block;height:50px;width:auto;margin-right:20px;vertical-align:top;pointer-events:none;user-select:none;}
body>.main>.wrapper>.game>div>.header>div{text-align:center;display:block;}
body>.main>.wrapper>.game>div>.header>div>button{display:inline-block;margin:40px auto 10px;height:30px;background:none;border:none;cursor:pointer;margin-right:20px;color:white;font-family:inherit;font-size:18px;line-height:30px;}
body>.main>.wrapper>.game>div>.header>div>button:focus{outline:0;}
body>.main>.wrapper>.game>div>.header>div>button>svg{height:100%;width:30px;fill:#fff;display:inline-block;vertical-align:top;margin-right:10px;}
body>.main>.wrapper>.game>div>.header>div a{color:inherit;display:inline-block;height:30px;width:30px;}
body>.main>.wrapper>.game>div>.header>div a>svg{width:100%;height:100%;fill:#fff;}
body>.main>.wrapper>.game>div>.header>div>button[data-yt]:after{content:"Watch the trailer";}
body>.main>.wrapper>.game>div>.header>div>.download{display:block;}
body>.main>.wrapper>.game>div>.header>div>.download:before{content:"- Download from -";display:block;margin:10px auto;font-size:15px;text-align:center;color:white;}
body>.main>.wrapper>.game>div>.header>div>.download a{margin:0 5px;}

body>.main>.wrapper>.game>div>.desc{max-width:900px;margin:20px auto;font-size:20px;}
body>.main>.wrapper>.game>div>.desc>p{position:relative;display:block;margin:10px 0;}
body>.main>.wrapper>.game>div>.desc>ul{margin:20px 0 20px 30px;}
body>.main>.wrapper>.game>div>.desc>p:first-letter{margin-left:20px;}
body>.main>.wrapper>.game>div>.ss{max-width:1000px;margin:60px auto 30px auto;overflow:hidden;}
body>.main>.wrapper>.game>div>.ss>p{margin:30px 0;font-size:30px;font-weight:bold;}
body>.main>.wrapper>.game>div>.ss>div{overflow-x:auto;overflow-y:hidden;white-space:nowrap;max-height:200px;margin-left:20px;padding:30px;user-select:none;}
body>.main>.wrapper>.game>div>.ss>div>img{display:inline-block;height:200px;margin-right:10px;cursor:pointer;}

body.game-hop>.main>.wrapper>.game>div.hop{display:block;}
body.game-castle>.main>.wrapper>.game>div.castle{display:block;}
body.game-fancy>.main>.wrapper>.game>div.fancy{display:block;}
body.game-fancy2>.main>.wrapper>.game>div.fancy2{display:block;}
body.game-retro>.main>.wrapper>.game>div.retro{display:block;}

body>.main>.wrapper>.footer{position:relative;vertical-align:top;margin:20px 0 20px 30px;}
body>.main>.wrapper>.footer>a{display:inline-block;width:30px;height:30px;margin-left:20px;}
body>.main>.wrapper>.footer>a>svg{width:100%;height:100%;fill:#888;transition:fill .4s ease;}
body>.main>.wrapper>.footer>a>img{width:100%;height:100%;opacity:.6;transition:opacity .4s ease;pointer-events:none;user-select:none;}
body>.main>.wrapper>.footer>a:first-of-type{margin-left:0;}
body>.main>.wrapper>.footer>a:first-of-type:hover>svg{fill:#E4405F;}
body>.main>.wrapper>.footer>a:nth-of-type(2):hover>svg{fill:#FF0000;}
body>.main>.wrapper>.footer>a:nth-of-type(3):hover>svg{fill:#3B5998;}
body>.main>.wrapper>.footer>a:nth-of-type(4):hover>svg{fill:#1DA1F2;}
body>.main>.wrapper>.footer>a:last-of-type:hover>svg{fill:#7289da;}

.yt-overlay,.img-container{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.9);}

.yt-overlay{z-index:333;}
.yt-container{position:fixed;top:0;left:0;bottom:0;right:0;margin:auto;z-index:334;padding:30px;width:80%;height:80%;text-align:right;}
.yt-container>iframe{display:block;border:none;width:100%;height:calc(100% - 50px);margin-top:20px;}
.yt-container>div{display:inline-block;height:30px;width:30px;cursor:pointer;}
.yt-container>div>svg{width:100%;height:100%;fill:#fff;}
.yt-overlay,.yt-container{transition:.4s ease;transition-property:opacity,visibility;visibility:hidden;opacity:0;}
body.yt-open .yt-overlay,body.yt-open .yt-container{visibility:visible;opacity:1;}

@keyframes spin{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}

.img-container{z-index:334;opacity:0;transition:opacity .4s ease;}
.img-container.show{opacity:1;}
.img-container .load{position:absolute;z-index:1;left:50%;top:50%;transform:translate3d(-50%,-50%,0);width:50px;height:50px;}
.img-container .load svg{fill:#fff;width:100%;height:100%;animation:spin 1s linear infinite;}
.img-container img{position:absolute;left:50%;top:50%;max-height:90%;width:auto;max-width:90%;transform:translate3d(-50%,-50%,0);opacity:.01;transition:opacity .4s ease;}
.img-container.load img{opacity:1;}

body>.contact{position:fixed;bottom:0;left:0;right:0;padding:30px;background:#fff;color:#000;transition:transform .3s ease;transform:translate3d(0,100%,0);}
body>.contact>a{color:inherit;text-decoration:none;font-weight:bold;transition:opacity .4s ease;display:table;word-wrap:break-word;font-size:20px;}
body>.contact>a:hover{opacity:.7;}
body.contact>.contact{transform:translate3d(0,0,0);}

body._error>.header{padding:40px;}
body._error>.header img{height:80px;}
body._error>.message{position:relative;text-align:center;color:#fff;padding:40px;box-sizing:border-box;}
body._error>.message>p{position:relative;display:inline-block;font-size:30px;}
body._error>.message>p>span{position:absolute;right:0;top:100%;font-size:16px;color:#777;}

@media screen and (min-width: 800px){
    body>.main>.wrapper>.home{padding:50px;}
    body>.main>.header{padding:40px;}
	body>.main>.header>.music{display:inline-block;}
    body>.main>.wrapper>.games{width:90vw;text-align:left;}
    body>.main>.wrapper>.people{padding:40px 40px 0;}
    body>.main>.wrapper>.footer{margin:30px 0 30px 60px;}
}
@media screen and (max-width: 1300px){
	body>.main>.wrapper>.home>div{width:100%;}
}